footer{
    background-color: orange;
    color: rgba(255, 255, 255, 0.548);
    padding: 20px;
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.footer a{
    margin: 0 10px;
    color: rgba(0, 0, 255, 0.445);
}


.brand-img{
    max-width: 20px;
}

.player-image{
    max-width: 100px;
    object-fit: cover;
    height: 100px;
}

.player-details {
    margin-top: 10px;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    justify-content: start;
}

.player-image-details{
    max-width: 140px;
}

ul{
    list-style: none;
}


.img-fluid{
    max-width: 240px;
}

.player {
    border: 1px solid #ccc;
    padding: 10px;
}

.same-height-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



.store-image{
    max-width: 140px;
}

.store-show{
    max-width: 220px;
}



.profile{
    max-width: 100%;
    height: auto;
}

.aroundProfile{
    width: 50%;
    text-align: center;
}
